.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 10px;
    row-gap: 10px;
    padding: 0;
}

.input-container {
    display: flex;
}

input {
    background-color: rgba(128, 128, 128, 0.164);
    border: none;
    flex-grow: 1;
}

.avatar-container {
    display: flex;
    background-color: hsla(121, 54%, 45%, 0.5);
    border: none;
    border-radius: 1ex;
    cursor: pointer;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.avatar-label {
    cursor: pointer;
    text-align: center;
    text-justify: middle;
}


.avatar-container input {
    display: none;
}

.add-button {
    font-size: medium;
}