.contact-container {
    display: flex;
    align-items: center;
    border: hsla(121, 54%, 45%, 0.5) solid;
    border-radius: 1ex;
}

.div-avatar{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
}

.avatar {
    width: auto;
    height: 55px;
    padding: 10px;
}

.more-details {
    background-image: url("../../avatars/down-arrow.png");
    background-size: 20px auto;
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 100%;
    background-color: white;
    margin-left: auto;
}