button {
    background-color: hsla(121, 54%, 45%, 0.5);
    border: none;
    border-radius: 1ex;
}

.add-container {
    padding: 10px;
}

.plus-button {
    background-image: url("https://img.icons8.com/fluency/512/add.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 100%;
    background-color: white;
    padding: 10px;
}

.contacts-grid {
    display: grid;
    row-gap: 1%;
}